
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
html, body{
    height: 100vh;
    background-color: #e3d8b1;
    scroll-behavior: smooth;
}
p{
    font-size: 18px;
}
a{
    text-decoration: none;
}
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.content{
    width: 50%;
}
.profile_photo{
    border-radius: 30%;
}
   
.social{
    width: 100%;
    text-align: center;
}
.social img{
    width: 5%;
}

@media only screen and (max-width:414){
    .content {
        width: 100%;
    }

    .social img{
        width: 10%;
    }
}

